* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  background-color: hsl(185, 75%, 39%);
  font-size: 1.125rem;
  overflow: hidden;
  height: 100vh;
}

h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 1.125rem;
}

.pattern-top {
  position: absolute;
  top: -35rem;
  left: -39.375rem;
}

.pattern-bottom {
  position: absolute;
  bottom: -51.875rem;
  right: -51.875rem;
}

.card img {
  position: absolute;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #fff;
  top: 6.125rem;
  left: 7.125rem;
}

.card {
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 9.375rem 1fr auto;
  width: 20.69rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  margin-top: 40%;
  overflow: hidden;
}

.card-top {
  grid-column: 1 / 4;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-name {
  grid-column: 1 / 4;
  margin-top: 4rem;
  padding-bottom: 1.7rem;
  border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
}

p {
  margin: 0;
  color: hsl(227, 10%, 46%);
  font-size: 0.9rem;
}

span {
  color: hsl(227, 10%, 46%);
}



.card-desc {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}

.numbers {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
}

.ig {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  letter-spacing: 0.05rem;
}

.attribution {
  margin-top: 7rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 26.25em) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .pattern-top {
    position: absolute;
    top: -31.25rem;
    left: -14.375rem;
  }

  .pattern-bottom {
    position: absolute;
    bottom: -37.5rem;
    right: -12.5rem;
  }

  .card {
    margin: 0;
  }
  .attribution {
    position: absolute;
    bottom: 2rem;
  }
}
